Repository daishiman/AutoForgeNexus, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, documentation, docker, ci/cd, testing, database, security, dependencies, configuration, ai/ml

feat(github): GitHubプロジェクト設定テンプレートの追加
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/question.yml
  docs/github-workflow-examples.md
Labels: documentation

feat(github): GitHubプロジェクト設定テンプレートの追加
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/question.yml
  docs/github-workflow-examples.md
Labels: documentation

fix(github): PRテンプレートをClaude Codeレビュー対応に更新
  .github/pull_request_template.md
Labels: none

fix(github): PRテンプレートをClaude Codeレビュー対応に更新
  .github/pull_request_template.md
Labels: none

feat(security): セキュリティ自動化とドキュメント構造化（レビュー済み）
  .bandit
  .github/SECURITY.md
  .github/dependabot.yml
  .github/workflows/codeql.yml
  .github/workflows/security.yml
  .safety-policy.json
  .serena/memories/session_completion_summary.md
  audit-ci.json
  docs/github/README.md
  docs/github/workflow-examples.md
  docs/security/README.md
  docs/security/github-setup-guide.md
  docs/setup/PHASE1_ENVIRONMENT_SETUP_TASKBREAKDOWN.md
Labels: documentation, ci/cd, security

feat(security): セキュリティ自動化とドキュメント構造化（レビュー済み）
  .bandit
  .github/SECURITY.md
  .github/dependabot.yml
  .github/workflows/codeql.yml
  .github/workflows/security.yml
  .safety-policy.json
  .serena/memories/session_completion_summary.md
  audit-ci.json
  docs/github/README.md
  docs/github/workflow-examples.md
  docs/security/README.md
  docs/security/github-setup-guide.md
  docs/setup/PHASE1_ENVIRONMENT_SETUP_TASKBREAKDOWN.md
Labels: documentation, ci/cd, security

feat(release): Release Please自動リリース管理設定追加
  .github/workflows/release.yml
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
  release-please-config.json
Labels: documentation, ci/cd

feat(release): Release Please自動リリース管理設定追加
  .github/workflows/release.yml
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
  release-please-config.json
Labels: documentation, ci/cd

feat(monitoring): DevOps監視基盤とDORAメトリクス収集システム構築
  .github/workflows/alerts.yml
  .github/workflows/audit-logging.yml
  .github/workflows/metrics.yml
  .github/workflows/security-incident.yml
  docs/monitoring/alerts-configuration.md
  docs/monitoring/dora-metrics-guide.md
  docs/security/security-monitoring-review.md
Labels: documentation, ci/cd

feat(monitoring): DevOps監視基盤とDORAメトリクス収集システム構築
  .github/workflows/alerts.yml
  .github/workflows/audit-logging.yml
  .github/workflows/metrics.yml
  .github/workflows/security-incident.yml
  docs/monitoring/alerts-configuration.md
  docs/monitoring/dora-metrics-guide.md
  docs/security/security-monitoring-review.md
Labels: documentation, ci/cd

fix(monitoring): Slack通知を削除しDiscordとGitHub Issueのみに統一
  .github/workflows/alerts.yml
  .github/workflows/cd.yml
  .github/workflows/metrics.yml
  docs/monitoring/alerts-configuration.md
Labels: documentation, ci/cd

fix(monitoring): Slack通知を削除しDiscordとGitHub Issueのみに統一
  .github/workflows/alerts.yml
  .github/workflows/cd.yml
  .github/workflows/metrics.yml
  docs/monitoring/alerts-configuration.md
Labels: documentation, ci/cd

docs: Discord・GitHub Issue通知設定ガイドの追加
  docs/monitoring/setup-notifications.md
Labels: documentation

docs: Discord・GitHub Issue通知設定ガイドの追加
  docs/monitoring/setup-notifications.md
Labels: documentation

docs: README.mdとCLAUDE.mdの更新
  CLAUDE.md
  README.md
Labels: documentation

docs: README.mdとCLAUDE.mdの更新
  CLAUDE.md
  README.md
Labels: documentation

fix(monitoring): Slack通知を削除しDiscordとGitHub Issueのみに統一
  CLAUDE.md
  README.md
Labels: documentation

fix(monitoring): Slack通知を削除しDiscordとGitHub Issueのみに統一
  CLAUDE.md
  README.md
Labels: documentation

feat(monitoring): DevOps監視基盤とDORAメトリクス収集システム構築
  docs/setup/PHASE1_ENVIRONMENT_SETUP_TASKBREAKDOWN.md
Labels: documentation

feat(monitoring): DevOps監視基盤とDORAメトリクス収集システム構築
  docs/setup/PHASE1_ENVIRONMENT_SETUP_TASKBREAKDOWN.md
Labels: documentation

.github/labeler.yml:

# GitHub Labeler configuration for auto-labeling PRs

backend:
  - backend/**/*
  - '*.py'
  - requirements*.txt
  - Pipfile*
  - pyproject.toml
  - alembic.ini

frontend:
  - frontend/**/*
  - '*.ts'
  - '*.tsx'
  - '*.js'
  - '*.jsx'
  - package*.json
  - tsconfig*.json
  - next.config.js

documentation:
  - docs/**/*
  - '*.md'
  - README*
  - CONTRIBUTING*
  - CHANGELOG*

docker:
  - docker/**/*
  - Dockerfile*
  - docker-compose*.yml
  - .dockerignore

ci/cd:
  - .github/workflows/*
  - .github/actions/*
  - scripts/deploy*
  - scripts/ci*

testing:
  - tests/**/*
  - test/**/*
  - '*test*.py'
  - '*test*.ts'
  - '*test*.js'
  - jest.config*
  - pytest.ini
  - .coveragerc

database:
  - migrations/**/*
  - alembic/**/*
  - '*.sql'
  - schema/**/*

security:
  - security/**/*
  - .github/dependabot.yml
  - SECURITY.md
  - '*auth*'
  - '*security*'

dependencies:
  - requirements*.txt
  - package*.json
  - Pipfile*
  - pyproject.toml
  - pnpm-lock.yaml
  - poetry.lock

configuration:
  - .editorconfig
  - .prettierrc*
  - .eslintrc*
  - .gitignore
  - .gitattributes
  - '*.config.js'
  - '*.config.ts'
  - .env.example

ai/ml:
  - ml/**/*
  - prompts/**/*
  - evaluations/**/*
  - '*llm*'
  - '*ai*'
  - '*vector*'
